body {
    background-color:rgb(220, 206, 206);
    color:rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0px;
}

header {
    background: linear-gradient(to right bottom,red,rgb(96, 49, 56),black); 
    color: rgb(255, 255, 255); 
    padding: 10px; 
    font-size: 13pt; 
    opacity: 1;
    transition: 3s;
    transition: color 0.1s;
    transition-duration: 100ms;
    transition-delay: 300ms;
    text-shadow: 2px 2px 3px rgb(189, 15, 15);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header:hover {
    background: rgb(159, 21, 21);
    text-shadow: 2px 2px 3px;
    opacity: 1;
    color: rgb(0, 0, 0);
    font-size: 18pt;
}

main {
    margin: 10px 20px;
}

footer {
    background: linear-gradient(to left bottom, black, rgb(181, 12, 12)); 
    color:rgb(235, 227, 227); margin: 0px; 
    padding: 10px; font-size: 13pt; 
    font-style: italic; 
    text-align: right;
    opacity: 1;
    transition: 3s;
    transition: color 0.1s;
    transition-duration: 100ms;
    transition-delay: 00ms;
    text-shadow: 1px 1px 3px rgb(26, 2, 1);
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer:hover {
    background: rgb(159, 21, 21);
    text-shadow: 2px 2px 3px;
    opacity: 1;
    color: rgb(0, 0, 0);
    font-size: 18pt;
}

a {
    opacity: 1;
    transition: 500ms 1s;
}

a:visited {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(21, 3, 3);
    background-color: rgb(210, 108, 108);
    opacity: 1;
    transition: 600ms 1s;
    text-shadow: 2px 2px 3px rgb(29, 29, 28);
}

a:hover {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 251, 251);
    text-decoration: underline;
    background-color: rgb(184, 0, 0);
    font-weight: bold;
    opacity: 1;
    transition: 600ms 0.3s;
    text-shadow: 2px 2px 3px rgb(171, 76, 76);
}

a:active {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(239, 0, 0);
    background-color: rgb(161, 94, 94);
    opacity: 1;
    transition: 600ms 1s;
}